---
# Titre: Template de PersistentVolumeClaim Kubernetes pour MongoDB
# Description: Définit le PersistentVolumeClaim Kubernetes pour MongoDB
# Auteur: Équipe LIONS Infrastructure
# Date: 2025-05-08
# Version: 1.0.0

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ app_name }}-data"
  namespace: "{{ app_namespace }}"
  labels:
    app: "{{ app_name }}"
    version: "{{ app_version }}"
    environment: "{{ app_environment }}"
    technology: "mongodb"
  annotations:
    description: "PersistentVolumeClaim pour MongoDB {{ app_name }} ({{ app_version }}) en environnement {{ app_environment }}"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "{{ mongodb_storage_class }}"
  resources:
    requests:
      storage: "{{ mongodb_storage_size }}"